﻿<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-auto align-self-center">

            <div class="card" style="width: 24rem; box-shadow: rgba(40,40,40, 0.2) 3px 3px">
                <div class="card-header bg-light" style="color: rgba(127, 125, 125, 0.91)">Поиск свободных интервалов</div>
                <div class="card-body">
                    <!--<h5 class="card-title">Success card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                    <form #f="ngForm">
                        <div class="form-row">
                            <div class="form-group col-md-auto">
                                <div class="input-group">
                                    <input type="text" class="form-control" aria-describedby="basic-addon" placeholder="Продолжительность" name="period" ngModel required #period="ngModel">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon">мин</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-auto">
                                <button type="button" class="btn btn-primary" (click)="OnClick_Search(f)">Поиск</button>
                            </div>
                        </div>
                        <div class="form-row" *ngIf="invalid_period_text">
                            <div class="form-group col">
                                <div class="alert alert-danger" role="alert" style="margin-bottom: 0px">
                                    Введите кол-во минут корректно
                                </div>
                            </div>
                        </div>
                        <div class="form-row" *ngIf="invalid_period">
                            <div class="form-group col">
                                <div class="alert alert-danger" role="alert" style="margin-bottom: 0px">
                                    Выход за пределы {{max_interval}} часового интервала
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer bg-light">
                    <button type="button" class="btn btn-success mr-1 ml-1 mb-1 mt-1" *ngFor="let interval of result">{{interval}}</button>
                </div>
            </div>

            
        </div>
    </div>
</div>